.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
data/models/*.pkl
data/reports/*.json

# Testing & Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# PMLB cache
data/pmlb_cache/
